@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: rgb(0,212,255);
    background: linear-gradient(330deg, rgba(0,212,255,1) 0%, rgba(6,30,93,1) 20%, rgba(6,30,92,1) 80%, rgba(1,186,232,1) 100%);
}

body h2 {
    color: white;
}

main {
    background-color: #004186;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnqtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.finish {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
